/* globals.css */

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

h1, span, button, h2, a, .footer p, .feature p, .task, h3{
  font-family: 'Mulish', sans-serif;
}

p, .task-time{
  font-family: 'Space Grotesk', sans-serif;
}
